#main_box {
    -fx-background-color: transparent;
    -fx-background-radius: 7;
    -fx-border-radius: 7;
    -fx-border-width: 2.5;
    -fx-border-color: #414141;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.8), 6, 0.5, 0.0, 4.0);
}

#title_bar {
    -fx-background-color: #414141;
    -fx-background-radius: 7 7 0 0;
    -fx-border-radius: 7 7 0 0;
    -fx-effect: dropshadow(gaussian, rgba(65, 65, 65, 1), 4, 0.5, 0.0, -2.0);
}

#text_area_container {
    -fx-background-color: #C4C4C4;
    -fx-background-radius: 0 0 4 4;
    -fx-border-radius: 0 0 4 4;
    -fx-effect: innershadow(gaussian, rgba( 65, 65, 65, 1.0 ), 4, 0, 0.0, 4.0 );
}

#menu_bar {
    -fx-background-color: #C4C4C4;
    -fx-effect: innershadow(gaussian, rgba( 65, 65, 65, 1.0 ), 5, 0, 0.0, -2.0 );
}

#close_btn {
    -fx-background-color: transparent;
    -fx-padding: 0;
}

#chat_menu_toggler {
    -fx-background-color: transparent;
    -fx-padding: 0;
    -fx-border-width: 0;
}

#chat_menu_toggler .box {
    -fx-background-color: transparent;
    -fx-border-color:transparent;
}

#chat_menu_toggler:selected .mark {
    -fx-background-color: transparent;
}

#chat_menu_toggler:selected .box {
    -fx-background-color: transparent;
    -fx-border-width: 0;
}

#chat_list {
    -fx-background-color: #C4C4C4;
    -fx-border-width: 0;
    -fx-effect: innershadow(gaussian, rgba( 65, 65, 65, 0.75 ), 4, 0, -3.0, 0.0 );
    -fx-padding: 0;
}

#minimize_btn {
    -fx-background-color: transparent;
    -fx-padding: 0;
}

#chat_n_list_box {
    -fx-border-width: 0;
}

.message_area_input {
    -fx-background-color: white;
    -fx-background-radius: 6;
    -fx-border-radius: 6;
    -fx-effect: dropshadow(gaussian, rgba(65, 65, 65, 1.0), 5, 0.3, 0.0, 3.0);
    -fx-padding: 3 6 4 6;
}

#message_scroll_pane {
    -fx-background-color: transparent;
    -fx-border-radius: 7;
    -fx-background-radius: 7;
    -fx-border-width: 0;
    -fx-padding: 0;
}

#outer_pane {
    -fx-background-color: transparent;
    -fx-border-radius: 7;
    -fx-background-radius: 7;
}

.text-area .scroll-pane {
    -fx-background-color: transparent;
}
.text-area .scroll-pane .viewport{
    -fx-background-color: transparent;
}
.text-area .scroll-pane .content{
    -fx-background-color: transparent;
}

.message_container {
    -fx-background-color: white;
    -fx-border-width: 0;
    -fx-effect: innershadow(gaussian, rgba( 0, 0, 0, 0.25 ), 10, 0, 0.0, 4.0 );
}

.title_button {
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 1.0), 5, 0.5, 0.5, 0.5);
}

#message_stack {
    -fx-border-width: 0;
}

.message_pane {
    -fx-border-width: 0;
}

#chat_list_scroll_pane {
    -fx-effect: innershadow(gaussian, rgba( 65, 65, 65, 1 ), 4, 0, -2.0, 1.0 );
    -fx-background-color: transparent;
    -fx-border-width: 0;
    -fx-padding: 0;
}

#add_chat_pane_tgl {
    -fx-background-color: transparent;
    -fx-border-width: 0;
    -fx-padding: 0;
}

#add_chat_menu_pane {
    -fx-background-color: #414141;
    -fx-border-width: 0;
    -fx-padding: 0;
}

.menu_input {
    -fx-background-color: white;
    -fx-background-radius: 6;
    -fx-border-radius: 6;
}